/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

# IDE-generated Ant build metadata
mobile-app-ws.properties
mobile-app-ws.xml
module_mobile-app-ws.xml

# OS files
.DS_Store
Thumbs.db
